<template>
  <!-- The Header -->

  <nav class="navbar navbar-light bg-light">
    <router-link class="navbar-brand" to="/">
      <img
        src="./../../assets/logo.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt="Logo"
      />
      Address Book
    </router-link>
  </nav>
</template>

<script>
export default {
  name: "HeaderComponent",
};
</script>