<template>
  <!-- Page where you can add a new contact or edit one if it already exists -->

  <div class="container">
    <h1 class="mt-5">{{ pageId ? "Edit" : "Add" }} Contact</h1>
    <form class="mt-5" @submit.prevent="submitData">
      <div
        class="form-group"
        :class="{ 'form-group--error': $v.enteredFirstName.$error }"
      >
        <label for="first_name">First Name:*</label>
        <input
          type="text"
          class="form-control"
          id="first_name"
          v-model.trim="$v.enteredFirstName.$model"
        />

        <!-- shows in case validation fail. -->
        <div
          class="error text-danger"
          v-if="!$v.enteredFirstName.required && $v.enteredFirstName.$dirty"
        >
          First name is required
        </div>
      </div>

      <div
        class="form-group"
        :class="{ 'form-group--error': $v.enteredLastName.$error }"
      >
        <label for="last_name">Last Name:*</label>
        <input
          type="text"
          class="form-control"
          id="last_name"
          v-model.trim="$v.enteredLastName.$model"
        />

        <!-- shows in case validation fail. -->
        <div
          class="error text-danger"
          v-if="!$v.enteredLastName.required && $v.enteredLastName.$dirty"
        >
          Last name is required
        </div>
      </div>

      <div
        class="form-group"
        :class="{ 'form-group--error': $v.enteredEmailAddress.$error }"
      >
        <label for="email_address">Email Address:*</label>
        <input
          type="text"
          class="form-control"
          id="email_address"
          v-model.trim="$v.enteredEmailAddress.$model"
        />

        <!-- shows in case validation fail. -->
        <div
          class="error text-danger"
          v-if="
            !$v.enteredEmailAddress.required && $v.enteredEmailAddress.$dirty
          "
        >
          Email address is required
        </div>
        <div class="error text-danger" v-if="!$v.enteredEmailAddress.email">
          Please enter a valid email address
        </div>
      </div>

      <div
        class="form-group"
        :class="{ 'form-group--error': $v.enteredCountryName.$error }"
      >
        <label for="country_name">Select Country:*</label>
        <select
          class="form-control"
          id="country_name"
          v-model="$v.enteredCountryName.$model"
        >
          <option
            v-for="(country, index) in countries"
            :key="index"
            :value="country"
          >
            {{ country }}
          </option>
        </select>

        <!-- shows in case validation fail. -->
        <div
          class="error text-danger"
          v-if="!$v.enteredCountryName.required && $v.enteredCountryName.$dirty"
        >
          Country name is required
        </div>
      </div>
      <router-link to="/" type="button" class="btn btn-secondary mr-2 mt-3"
        >Back</router-link
      >
      <button type="submit" class="btn btn-success mt-3">Submit</button>
    </form>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { mapActions } from "vuex";
import { required, email } from "vuelidate/lib/validators";

export default {
  name: "ContactForm",
  data() {
    return {
      countries: require("country-list").getNames(), // get country names from country-list package.
      id: null,
      enteredFirstName: "",
      enteredLastName: "",
      enteredEmailAddress: "",
      enteredCountryName: "",
      pageId: this.$route.params.id, // get id of the current contact.
    };
  },
  validations: {
    enteredFirstName: {
      required,
    },
    enteredLastName: {
      required,
    },
    enteredEmailAddress: {
      required,
      email,
    },
    enteredCountryName: {
      required,
    },
  },
  computed: {
    ...mapGetters(["getSelectedContact"]),

    // if contact id exists, get contact. If not return false.
    getContact() {
      if (this.pageId) {
        return this.getSelectedContact(this.pageId);
      }
      return false;
    },
  },
  methods: {
    ...mapActions(["addContact", "editContact"]),

    submitData() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        const contactObj = {
          id: this.pageId ? this.id : Math.floor(Math.random() * 1000000000), // if contact exists, use that contact id. If not, create a new one.
          firstName: this.enteredFirstName,
          lastName: this.enteredLastName,
          emailAddress: this.enteredEmailAddress,
          countryName: this.enteredCountryName,
        };

        if (this.pageId) {
          this.editContact(contactObj); // if contact exits, edit that contact.
        } else {
          this.addContact(contactObj); // if not, create new contact.
        }

        this.$router.push("/"); // return to the homepage.
      }
    },
  },

  mounted() {
    // if contact already exists, fill the fields based on that contact data.
    if (this.getContact) {
      this.id = this.getContact.id;
      this.enteredFirstName = this.getContact.firstName;
      this.enteredLastName = this.getContact.lastName;
      this.enteredEmailAddress = this.getContact.emailAddress;
      this.enteredCountryName = this.getContact.countryName;
    }
  },
};
</script>