<template>  
  <div class="container">
    <h1 class="mt-5 mb-3">All Contacts</h1>
    <router-link class="btn btn-success" to="/contact-form"
      >+ New Contact</router-link
    >
    <!-- if there are any contacts, show them. -->
    <div class="row mt-3" v-if="getContactsList.length > 0">
      <div
        class="col-md-4 p-3"
        v-for="contact in getContactsList"
        :key="contact.id"
      >
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              {{ contact.firstName }} {{ contact.lastName }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">ID: {{ contact.id }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ contact.emailAddress }}
            </h6>
            <h6 class="card-subtitle mb-3 text-muted">
              {{ contact.countryName }}
            </h6>
            <router-link
              :to="`/contact-form/${contact.id}`"
              class="btn btn-primary mr-2"
              >Edit</router-link
            >
            <button
              type="button"
              class="btn btn-danger"
              @click="deleteHandler(contact.id)"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- if not, inform user. -->
    <div v-else class="mt-4">
      <p>
        There are no contacts in your address book. Please add one by clicking
        the button above.
      </p>
    </div>

    <!-- shows in case you want to delete a contact. -->
    <confirmation-modal
      :modalVisibility="modalVisibility"
      :selectedContactId="selectedContactId"
      @close-modal="deleteHandler"
    ></confirmation-modal>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import ConfirmationModal from "../components/ConfirmationModal.vue";

export default {
  name: "ContactList",
  components: {
    ConfirmationModal,
  },
  data() {
    return {
      modalVisibility: false,
      selectedContactId: null,
    };
  },
  computed: {
    ...mapGetters(["getContactsList"]),
  },
  methods: {
    // pops up modal and sends the id of the contact the must be deleted to the modal component.
    deleteHandler(contactId) {
      this.modalVisibility = !this.modalVisibility;
      this.selectedContactId = contactId;
    },
  },
};
</script>