<template>
  <!-- Confirmation modal before you try to delete a contact -->  
  <div class="modal fade" :class="{ show: modalVisibility }">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmation-modal">Are you sure?</h5>
          <button type="button" class="close" @click="$emit('close-modal')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            @click="$emit('close-modal')"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="deleteContactPermanently"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: {
    modalVisibility: Boolean,
    selectedContactId: null,
  },
  emit: ["close-modal"],
  methods: {
    ...mapActions(["deleteContact"]),

    deleteContactPermanently() {
      this.deleteContact(this.selectedContactId); // delete contact from list.
      this.$emit("close-modal"); // close modal.
    },
  },
};
</script>

<style lang="scss" scoped>
.modal.show {
  display: block;
}
</style>